body {
    font-family: 'Times New Roman', serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    color: black; /* 设置所有默认文本为黑色 */
    text-align: center; /* 使页面中的所有内容居中对齐 */
}

h2 {
    font-family: 'Georgia', sans-serif;
    margin: 30px 20px;
    font-weight: bold; /* 标题字体加粗 */
    color: black; /* 设置标题文本为黑色 */
}

p {
    margin: 0px 0;
    text-align: justify;
    font-size: 22px; /* 字体大小 */
    color: black; /* 设置正文文本为黑色 */
    max-width: 80%;
    margin: 0 auto; /* 正文居中对齐 */
}

.video-group {
    display: flex;
    justify-content: center; /* 使所有视频组件居中对齐 */
    flex-wrap: wrap;
}

.video-section {
    margin-right: 10px; /* 如果需要，可以保留或调整右边距 */
}

.btitle {font-size: 26px; /* 设置您想要的大小 */ }

.video-title {
    font-family: 'Times New Roman', sans-serif; /* 更新字体 */
    font-size: 22px; /* 增加字体大小 */
    color: #333; /* 改变颜色为深灰，提高对比度 */
    font-weight: bold; /* 加粗字体 */
    margin-bottom: 10px; /* 调整底部外边距 */
}

.video-container {
    width: 500px; /* 根据需要调整宽度 */
    height: 400px; /* 根据需要调整高度 */
    margin: 0 auto; /* 自动边距确保居中对齐 */
}

.video-frame {
    width: 100%; /* 视频框填充整个容器宽度 */
    height: 80%; /* 视频框填充整个容器高度 */
    display: block; /* 确保视频框作为块级元素显示 */
}

.publication-title {
    font-family: 'Garamond', sans-serif;
    font-size: 44px; /* 增加字体大小，您可以根据需要调整这个值 */
    max-width: 75%; /* 设置标题的最大宽度 */
    margin: 0 auto; /* 添加上下边距为0，左右自动（居中） */
    font-weight: bold; /* 加粗字体 */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


@media (max-width: 768px) {
    .publication-title {
        font-size: 28px; /* 在较小屏幕上减小字体大小 */
        max-width: 90%; /* 在较小屏幕上增加最大宽度百分比 */
    }
}

@media (max-width: 480px) {
    .publication-title {
        font-size: 24px; /* 在更小屏幕上进一步减小字体大小 */
        max-width: 100%; /* 在更小屏幕上使用更宽的最大宽度 */
    }
}

.resized-image {     width: 150px; /* 调整宽度 */     height: auto; /* 高度自适应 */ }

.container {
    text-align: center;
    margin-top: 10px;
    padding: 0; /* 确保没有内边距 */
}

/* 图片样式 */
img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: -60px; /* 向左移动图片 */
}
img2{
    width: auto;
    max-width: 100%;
    height: auto;
}
.img-title {
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
    margin-bottom: 10px; /* 标题下的边距 */
    color: black; /* 黑色文本 */
    font-weight: bold; /* 加粗字体 */
}

